body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #141e30, #243b55);
    
    
    
}



  
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
}

.portada{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 2%;
    padding-right: 2%;
    font-weight: bold;
    background-color: #5a0f19;}

.portada h1{
    color: #fff;
    font-size: 40px;
    text-align: center;
    font-family: initial;}

.portada span {
    text-align: center;
}

ul li{
    display: inline-block;
    padding: 0px 10px;
    font-family: 'calibri';
}

a{
    color: rgb(250, 248, 248);
    text-decoration: none;
}

a:hover{
    color: #ebdacc;
}


.inicio{
    display: flex; /* Utiliza un contenedor flex para alinear los elementos */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: flex-start; /* Alínea los elementos hacia la parte superior */
}

.section{
    display: flex;
    justify-content: center;
    position: relative;
}
