body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #141e30, #243b55);
    color: #fff;
    padding-top: 20px; /* Ajuste para la barra de navegación fija */
}

.navbar {
    background-color: rgba(248, 249, 250, 0.1); /* Color de fondo semitransparente de la barra de navegación */
    padding: 5px 10px; /* Ajuste de relleno superior e inferior */
    border: none; /* Eliminar el borde */
}

.navbar-brand img {
    max-height: 40px;
}

.navbar-nav {
    margin-left: auto; /* Mover los elementos del menú hacia la derecha */
}

.nav-item {
    margin-left: 10px; /* Espacio entre los elementos del menú */
}

.header {
    background-image: url('/path/to/your/background/image.jpg'); /* Reemplaza la ruta con la imagen deseada */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
}

.header h1 {
    font-size: 3rem;
}

.social-links .link {
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
}

.container {
    margin-top: 50px; /* Ajuste para separar el contenido del encabezado */
}

.container p {
    margin-bottom: 10px;
}

.footer {
    background-color: rgba(248, 249, 250, 0.1); /* Color de fondo semitransparente del pie de página */
    color: #fff; /* Color del texto del pie de página */
    padding: 50px 20px; /* Espaciado interior del pie de página */
}

.footer h5 {
    font-weight: bold;
    margin-bottom: 10px; /* Espacio inferior entre el título y el subtítulo */
}

.footer p {
    margin-bottom: 10px; /* Espacio inferior entre los párrafos */
}

.footer-info {
    text-align: right; /* Alinear la información a la derecha */
}

.footer-info p {
    margin: 5px 0; /* Ajustar el espacio entre los elementos de información */
}
